:root {
    --o-par-font-family: 'Segoe UI';
    --o-bar-font-family: 'Trebuchet MS';
}

h1, h2, p {
    margin: 0px;
    padding: 0px;
}

@media only screen and (max-width: 1000px) {
    body {
        margin: 0px;
        background-color: #f5f5f5;
    }

    #contentflex {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    #picflex {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    #endflex {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    #menuflex {
        width: 100%;
        height: 373px;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        max-height: 18px;
        margin-top: 40px;
        position: absolute;
        flex-direction: row;
        transition: all 0.5s ease-in-out;
    }





    /*==========  ID Rules  ==========*/
    #header {
        width: 100%;
        height: 550px;
    }

    #menu {
        width: 24px;
        height: 18px;
        float: right;
        margin-left: 320px;
        position: absolute;
    }





    /*==========  CLass Rules  ==========*/
    .bane {
        height: 600px;
    }

    .clientele {
        width: 100%;
    }

    .socials {
        width: 20px;
        height: 20px;
    }

    .boss {
        width: 250px;
        margin-left: auto;
        margin-right: auto;
    }

    .clients {
        width: 70px;
        height: 70px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 70px;
    }

    .photos {
        width: 50%;
        height: 50%;
    }

    .arrows {
        width: 40px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .flexerdisc {
        width: 100%;
    }

    .others {
        width: 100%;
        margin: 0px;
        height: 300px;
    }

    .inner {
        width: 100%;
        height: 300px;
        font-size: 0px;
        margin-top: 290px;
        position: absolute;
        background-color: transparent;
    }

    .learn {
        width: 125px;
        height: 25px;
        font-size: 20px;
        font-weight: 600;
        color: #585757;
        margin: 20px auto 40px auto;
        font-family: var(--o-bar-font-family);
        background: linear-gradient(180deg, #ffffff 60%,  #ffff00 0%);
    }

    .header {
        width: 100%;
        height: 400px;
        position: absolute;
        margin: 130px 20px 20px 0px;
    }

    .line {
        width: 4px;
        height: 120px;
        margin-left: 17px;
        position: absolute;
        background-color: #ffffff;
    }

    .arrowhead {
        width: 25px;
        height: 25px;
        border-radius: 5px;
        position: absolute;
        border: 5px solid #fff;
        border-left: transparent;
        transform: rotate(135deg);
        border-bottom: transparent;
        margin: 90px 0px 0px 4px;
        background-color: transparent;
    }

    .list {
        width: 150px;
        height: 230px;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
        background-color: #ffffff;
    }

    .logo {
        width: 124px;
        height: 24px;
        margin-left: 20px;
        position: absolute;
    }

    .drop {
        width: 332px;
        height: 300px;
        margin-top: 70px;
        margin-left: 20px;
        position: absolute;
        border: solid 1px #fff;
        background-color: #ffffff;
    }

    .triangle {
        width: 0px;
        height: 0px;
        margin: 20px 0px 30px 314px;
        border: solid 30px #ffffff;
        border-top: solid 20px  transparent;
        border-left: solid 20px  transparent;
        border-right: solid  20px  transparent;
    }
    

   

    /*==========  Element Rules  ==========*/
    img {
        width: 100%;
        height: 600px;
    }

    section {
        width: 100%;
        margin: 0px;
        height: 100%;
        font-size: 0px;
    }

    header {
       margin: 0px;
       width: 100%;
       height: 550px;
    }

    article {
        margin: 0px;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
    }

    h1 {
        font-size: 50px;
        font-weight: 800;
        color: #ffffff;
        text-align: center;
        margin: 20px auto 20px auto;
        font-family: var(--o-bar-font-family);
    }

    h2 {
        font-size: 40px;
        font-weight: 600;
        color: #585757;
        text-align: center;
        padding: 60px 30px 0px 30px;
        font-family: var(--o-bar-font-family);
    }

    p {
        padding: 30px;
        font-size: 20px;
        font-weight: 300;
        color: #808080;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    button {
        width: 150px;
        height: 50px;
        display: block;
        font-size: 25px;
        cursor: pointer;
        font-weight: 500;
        border-radius: 50px;
        border: transparent;
        background-color: #f8991d;
        font-family: var(--o-par-font-family);
    }

    .list ul {
        padding: 0px;
        margin-top: 40px;
        text-align: center;
        list-style-type: none;
    }

    .list ul li {
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .list ul li a {
        font-size: 25px;
        color: #808080;
        font-weight: 300;
        font-family: var(--o-par-font-family);
    }

    ul {
        padding: 0px;
        text-align: center;
        list-style-type: none;
    }

    ul li {
        margin-right: 40px;
        display: inline-block;
    }

    ul li a {
        font-size: 20px;
        font-weight: 600;
        font-family: var(--o-par-font-family);
    }




    /*==========  Animation and Pseudo Rules  ==========*/
    #menu:hover {
        cursor: pointer;
    }

    li:hover {
        cursor: pointer;
    }
}