:root {
    --o-par-font-family: 'Segoe UI';
    --o-bar-font-family: 'Trebuchet MS';
}

h1, h2, p {
    margin: 0px;
    padding: 0px;
}

@media only screen and (max-width: 1000px) {
    body {
        margin: 0px;
        background-color: #f5f5f5;
    }

    #menuflex {
        height: 373px;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        max-height: 18px;
        margin-top: 40px;
        position: absolute;
        flex-direction: row;
        transition: all 0.5s ease-in-out;
    }





    /*==========  ID Rules  ==========*/
    #header {
        width: 375px;
        height: 550px;
    }

    #menu {
        width: 24px;
        height: 18px;
        float: right;
        margin-left: 320px;
        position: absolute;
    }





    /*==========  CLass Rules  ==========*/
    .bane {
        height: 600px;
    }
    .others {
        margin: 0px;
        height: 300px;
    }

    .inner {
        width: 375px;
        height: 300px;
        font-size: 0px;
        margin-top: 290px;
        position: absolute;
        background-color: transparent;
    }

    .learn {
        width: 125px;
        height: 25px;
        font-size: 20px;
        font-weight: 600;
        color: #585757;
        margin-left: 119px;
        font-family: var(--o-bar-font-family);
        background: linear-gradient(180deg, #ffffff 60%,  #ffff00 0%);
    }

    .header {
        width: 375px;
        height: 400px;
       position: absolute;
        margin: 130px 20px 20px 0px;
    }

    .line {
        width: 5px;
        height: 120px;
        margin-left: 185px;
        position: absolute;
        background-color: #ffffff;
    }

    .arrowhead {
        width: 20px;
        height: 20px;
        border-radius: 5px;
        position: absolute;
        border: 5px solid #fff;
        transform: rotate(135deg);
        margin: 95px 0px 0px 175px;
        background-color: transparent;
        border-left: transparent;
        border-bottom: transparent;
    }

    .list {
        width: 150px;
        height: 230px;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
        background-color: #ffffff;
    }

    .logo {
        width: fit-content;
        height: 24px;
        margin-top: 40px;
        margin-left: 20px;
        position: absolute;
    }

    .drop {
        width: 332px;
        height: 300px;
        margin-top: 70px;
        margin-left: 20px;
        position: absolute;
        border: solid 1px #fff;
        background-color: #ffffff;
    }

    .triangle {
        width: 0px;
        height: 0px;
        margin: 20px 0px 30px 314px;
        border: solid 30px #ffffff;
        border-top: solid 20px  transparent;
        border-left: solid 20px  transparent;
        border-right: solid  20px  transparent;
    }
    

   

    /*==========  Element Rules  ==========*/
    img {
        width: 375px;
        height: 600px;
    }

    section {
        margin: 0px;
        height: 750px;
        font-size: 0px;
        width: fit-content;
    }

    header {
       width: fit-content;
       height: 550px;
       margin: 0px;
       background-color: #ffff00;
    }

    article {
        margin: 0px;
        width: 375px;
        height: 450px;
        background-color: #ffffff;
    }

    h1 {
        font-size: 50px;
        font-weight: 800;
        color: #ffffff;
        text-align: center;
        margin: 20px 0px 20px 0px;
        font-family: var(--o-bar-font-family);
    }

    h2 {
        font-size: 40px;
        font-weight: 600;
        color: #585757;
        text-align: center;
        padding: 60px 30px 0px 30px;
        font-family: var(--o-bar-font-family);
    }

    p {
        padding: 30px;
        font-size: 20px;
        font-weight: 300;
        color: #808080;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    button {
        width: 150px;
        height: 50px;
        font-size: 25px;
        font-weight: 500;
        cursor: pointer;
        border-radius: 50px;
        border: transparent;
        background-color: #f8991d;
        font-family: var(--o-par-font-family);
    }

    .list ul {
        padding: 0px;
        margin-top: 40px;
        text-align: center;
        list-style-type: none;
    }

    .list ul li {
        margin-bottom: 20px;
    }

    .list ul li a {
        font-size: 25px;
        color: #808080;
        font-weight:300;
        font-family: var(--o-par-font-family);
    }




    /*==========  Animation and Pseudo Rules  ==========*/
    #menu:hover {
        cursor: pointer;
    }

    li:hover {
        cursor: pointer;
    }
}